.babylon #scene-explorer-host {
    position: absolute !important;
    z-index: 1;
    width: 300px;
}

.babylon #inspector-host {
    position: absolute !important;
    z-index: 1;
    width: 300px;
}

.babylon body {
    padding: 0 300px;
}

.babylon .viewport {
    margin: 0 300px;
    width: calc(100vw - 600px) !important;
}
